<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %> 
    <title>Basket</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <section class="section basket-section" id="basket_section"></section>

    
    <div class="detail basket-res"></div>
    
    
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/basket.js"></script>
</body>
</html>